.btn {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    border: 2px solid #444; /* Slightly lighter border */
    padding: .3rem .6rem;
    font-size: 1rem;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #555; /* Lighter dark color for hover */
    color: #ddd; /* Softer text color for hover */
    transform: scale(1.1); /* Slight zoom-in effect */
}

.btn:active {
    transform: scale(1); /* Reset scale when clicked */
}

.info_box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;

    z-index: 101;

    background-color: rgba(36, 36, 36, 0.95);
}

.info_text {
    background-color: black;
    padding: 5rem;

    position: relative;

    width: 50%;
}

.info_close {
    position: absolute;
    top: 4rem;
    right: 4rem;
    opacity: .7;

    cursor: pointer;
}